@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.colored-corner {
    background: linear-gradient(
        to bottom right,
        rgb(0 0 0 / 0) 80%,
        rgb(254 243 199) 80%
    );
}
.colored-corner-on-hover:hover {
    background: linear-gradient(
        to bottom right,
        rgb(0 0 0 / 0) 90%,
        rgb(251 191 36) 90%
    );
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-amber-400 rounded;
}
.scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-amber-600 rounded;
}
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.path-color path {
    @apply fill-amber-600;
}

.span-color span {
    color: inherit !important;
}

/* upload bg-rose-500 on tw compiling */
.bg-rose {
    @apply bg-rose-500;
}

/* style for <p> inside markdown viewer */
.add-ellipsis-to-p p {
    @apply text-ellipsis w-full overflow-hidden whitespace-nowrap;
}
