@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.colored-corner {
    background: linear-gradient(
        to bottom right,
        rgb(0 0 0 / 0) 80%,
        rgb(254 243 199) 80%
    );
}
.colored-corner-on-hover:hover {
    background: linear-gradient(
        to bottom right,
        rgb(0 0 0 / 0) 80%,
        rgba(217, 119, 6, 0.5) 80%
    );
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    /* background-color: blueviolet; */
    @apply bg-amber-600 rounded;
}
.scrollbar::-webkit-scrollbar-track {
    /* background-color: blueviolet; */
    @apply bg-transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    /* background-color: blueviolet; */
    @apply bg-amber-600 rounded;
}
::-webkit-scrollbar-track {
    /* background-color: blueviolet; */
    @apply bg-transparent;
}

.path-color path {
    @apply fill-amber-600;
}

.span-color span {
    color: inherit !important;
}

.toolbar-visible-onhover:hover #toolbar {
    @apply visible;
}

.toolbar-visible #toolbar {
    @apply visible;
}
